<h4 class="mt-2">Predictions</h4>
<div class="prediction-result mt-2 container">       
  <table class="table table-condensed table-bordered">
    <tbody>
			<tr class = "tab0">
				<td>Work distributed fairly and effectively:</td>
			</tr>
      <tr class = "tab1">
        <td>Learning effectively from team:</td>
      </tr>
      <tr class = "tab2">
        <td>Significant contributions from team to product:</td>
      </tr>
      <tr class = "tab3">
        <td>Team has same goals for project:</td>
      </tr>
			<tr class = "tab4">
				<td>Positive attitude:</td>
			</tr>
      <tr class = "tab5">
        <td>Lack of interpersonal conflict:</td>
      </tr>
      <tr class = "tab6">
        <td>Effective management of problems that arise:</td>
      </tr>
      <tr class = "tab7">
        <td>Feelings of pride toward the product:</td>
      </tr>
			<tr class = "tab8">
        <td>Respectful and effective teammate communication:</td>
      </tr>
      <tr class = "tab9">
        <td>Effective management by PMs:</td>
      </tr>
    </tbody>
  </table>
</div>
<!--This form is where users enter the scores of their hypothetical team.
	It sends this input to the predictions controller-->
<%= form_tag "/predictions/analyze", :id => 'predict-form' do %>

	<table class = "table table-responisve">
    <tr>
    	<th></th>
    	<th>Collaborator</th>
    	<th>Comunicator</th>
    	<th>Contributor</th>
    	<th>Challenger</th>
    </tr>

    <tr>
    	<td><%=label_tag 'Team Member 1' %></td>
    	<td><%=number_field_tag 'Collaborator1:'%></td>
    	<td><%=number_field_tag 'Comunicator1:'%></td>
    	<td><%=number_field_tag 'Contributor1:'%></td>
    	<td><%=number_field_tag 'Challenger1:'%></td>
	</tr>

	<tr>
    	<td><%=label_tag 'Team Member 2' %></td>
    	<td><%=number_field_tag 'Collaborator2:'%></td>
    	<td><%=number_field_tag 'Comunicator2:'%></td>
    	<td><%=number_field_tag 'Contributor2:'%></td>
    	<td><%=number_field_tag 'Challenger2:'%></td>
	</tr>

	<tr>
    	<td><%=label_tag 'Team Member 3' %></td>
    	<td><%=number_field_tag 'Collaborator3:'%></td>
    	<td><%=number_field_tag 'Comunicator3:'%></td>
    	<td><%=number_field_tag 'Contributor3:'%></td>
    	<td><%=number_field_tag 'Challenger3:'%></td>
	</tr>

	<tr>
    	<td><%=label_tag 'Team Member 4' %></td>
    	<td><%=number_field_tag 'Collaborator4:'%></td>
    	<td><%=number_field_tag 'Comunicator4:'%></td>
    	<td><%=number_field_tag 'Contributor4:'%></td>
    	<td><%=number_field_tag 'Challenger4:'%></td>
	</tr>

    <div><%= submit_tag 'Submit', {class: "btn btn-primary"} %></div>
<% end -%>




<!--Turns on the navbar link back to insights on in this page-->
<script type="text/javascript">
	$(document).ready(function() {
		$(".predictions").show();
		$(".prediction-result").hide();
	});

  $('form').submit(function () {
		//$(".prediction-result").slideUp("fast");
      $('.predict').remove();
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        type: "POST",
        url:$(this).attr('action'),
        data: valuesToSubmit,
        dataType: "JSON",
        success: function(json) {
					answers = json.data
					for (i = 0; i < answers.length; i++) { 
    				$('.tab'+i).append("<td class =\"predict\">" + answers[i].toString()+"/5.0" + "</td>");
					};
					$(".prediction-result").slideDown("slow");
			}
		});
      return false;
  })
</script>
