<% if flash[:notice] %>
  <div class="alert alert-success">
    <strong>Success!</strong> <%=flash[:notice].html_safe%>.
  </div>
  <% end %>
<div class="mt-4 mx-auto">
    <%if cookies[:hello]%>
    <%else %>
    <%=cookies[:hello]=0%>
    <%end%>

    <div class="row">
        <div id="graphdiv" class="col-sm-10 col-md-7">
            <h2>Results</h2>
              <!--Three possible elements, only one visible at a time-->
              <svg id ="bargraph" class="graph" width="960" height="500"></svg>
              <svg id="scattergraph" class="graph" width="960" height="500"></svg>
              <!--Table holding stats (calculated by uploads_controller)-->
              <table id="stats" class="table table-hover">
                <tr>
                    <th scope="row"><strong>Most similarly answered question:</strong></th>
                    <td><%=@most_com[0][1..-1]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>Among challengers:</strong></th>
                    <td><%=@most_com_challenger[0][1..-1]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>Among contributors:</strong></th>
                    <td><%=@most_com_contributor[0][1..-1]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>Among collaborators:</strong></th>
                    <td><%=@most_com_collaborator[0][1..-1]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>Among communicators:</strong></th>
                    <td><%=@most_com_communicator[0][1..-1]%></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Most common secondary style:</strong>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>For challengers:</strong></th>
                    </th>
                    <td><%=@substyle_challenger[0]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>For contributors:</strong></th>
                    </th>
                    <td><%=@substyle_contributor[0]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>For collaborators:</strong></th>
                    </th>
                    <td><%=@substyle_collaborator[0]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>For communicators:</strong></th>
                    </th>
                    <td><%=@substyle_communicator[0]%></td>
                </tr>
            </table>

        </div>

        <!-- Legend -->
        <div class="col-sm-2 col-md-5 sidebar legend">
            <div class="scatterlegend" class="ml-2 container">
                <h3>Legend</h3>
                <p>X axis:</p>
                <select id="style1">
                  <option>Collaborator</option>
                  <option selected="selected">Contributor</option>
                  <option>Challenger</option>
                  <option>Communicator</option>
                </select>
                <p>Y axis:</p>
                <select id="style2">
                  <option>Collaborator</option>
                  <option>Contributor</option>
                  <option>Challenger</option>
                  <option>Communicator</option>
                </select>
                <button id="newscatter" class="btn btn-primary">Go!</button>
            </div>
        </div>

    </div>

    <hr class="hline">

    <div class="ml-2 row btn-group-vertical">
        <a href="/"><button type="submit" class="btn btn-primary mx-auto">Upload </button></a>
      <a href="/delete"><button type="submit" class="btn btn-warning mx-auto">Delete Data</button></a>
    </div>

</div>

<%= javascript_include_tag "display" %>
<script type="text/javascript">
$(document).ready(function () {
    // Show relevant buttons and hide irrelevant graphs when page first loads
    $('.insights').show();
    $("#stats").hide();
    $(".scatterlegend").hide();

    // Draw the graphs
    drawBarGraph();
    drawScatterGraph("Collaborator", "Contributor");
    $("#scattergraph").hide();


    // These functions hide graphs when we select a different graph to view
  var curcookie = '<%=cookies[:hello]%>'
  $('.insights').show();
  if (curcookie==0){
    showstart();
  }
  else if(curcookie==1) {
    showbarbutton();
  }
  else if(curcookie==2) {
    showscatter();
  }
  else if(curcookie==3) {
    statbutton();
  }
    $("#barbutton").click(function () {
        showbarbutton();
        document.cookie = "hello = 1";
    });

    $("#scatterbutton").click(function () {
        showscatter();
        document.cookie = "hello = 2";
    });

    $("#statbutton").click(function () {
        statbutton();
        document.cookie = "hello = 3";
    });


    // Change scatter graph axes
    $("#newscatter").click(function () {
      drawScatterGraph($("#style1").val(), $("#style2").val());
    })
});
</script>
