<% if flash[:notice] %>
  <div class="alert alert-success">
    <strong>Success!</strong> <%=flash[:notice].html_safe%>.
  </div>
  <% end %>
<div class="mt-4 mx-auto">
    <%if cookies[:hello]%>
    <%else %>
    <%=cookies[:hello]=0%>
    <%end%>

    <div class="row">
        <div id="graphdiv" class="col-sm-11 col-md-8">
            <h2>Results</h2>
              <!--Three possible elements, only one visible at a time-->
              <svg id ="bargraph" class="graph" width="960" height="500"></svg>
              <svg id="scattergraph" class="graph" width="960" height="500"></svg>
              <!--Table holding stats (calculated by uploads_controller)-->
              <table id="stats" class="table table-hover" style="display: block; width: 25%">
                <tr>
                    <th scope="row"><strong>Most similarly answered question:</strong></th>
                    <td><%=@most_com[0][1..-1]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>Among challengers:</strong></th>
                    <td><%=@most_com_challenger[0][1..-1]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>Among contributors:</strong></th>
                    <td><%=@most_com_contributor[0][1..-1]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>Among collaborators:</strong></th>
                    <td><%=@most_com_collaborator[0][1..-1]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>Among communicators:</strong></th>
                    <td><%=@most_com_communicator[0][1..-1]%></td>
                </tr>
                <tr>
                    <th scope="row"><strong>Most common secondary style:</strong></th>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>For challengers:</strong></th>
                    </th>
                    <td><%=@substyle_challenger[0]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>For contributors:</strong></th>
                    </th>
                    <td><%=@substyle_contributor[0]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>For collaborators:</strong></th>
                    </th>
                    <td><%=@substyle_collaborator[0]%></td>
                </tr>
                <tr>
                    <td></td>
                    <th scope="row"><strong>For communicators:</strong></th>
                    </th>
                    <td><%=@substyle_communicator[0]%></td>
                </tr>
            </table>
            <!-- <ul>
              <li><strong>Most similarly answered question:</strong> <%=@most_com[0][1..-1]%></li>
              <ul>
                <li><strong>Among challengers:</strong> <%=@most_com_challenger[0][1..-1]%></li>
                <li><strong>Among contributors:</strong> <%=@most_com_contributor[0][1..-1]%></li>
                <li><strong>Among collaborators:</strong> <%=@most_com_collaborator[0][1..-1]%></li>
                <li><strong>Among communicators:</strong> <%=@most_com_communicator[0][1..-1]%></li>
              </ul>
              <li><strong>Most common secondary style:</strong></li>
              <ul>
                <li><strong>For challengers:</strong> <%=@substyle_challenger[0]%></li>
                <li><strong>For contributors:</strong> <%=@substyle_contributor[0]%></li>
                <li><strong>For collaborators:</strong> <%=@substyle_collaborator[0]%></li>
                <li><strong>For communicators:</strong> <%=@substyle_communicator[0]%></li>
              </ul>
            </ul> -->
        </div>

        <!-- Legend -->
        <div class="col-sm-1 col-md-4 sidebar legend">
            <h3 class="mb-3">Legend</h3>
            <!-- Scatter Plot Legend -->
            <div class="scatterlegend ml-2 container">
                <table class="table">
                  <tr>
                    <th>X axis:</th>
                    <th>Y axis:</th>
                  </tr>
                  <tr>
                    <td>
                      <select id="style1" class="form-control">
                        <option>Collaborator</option>
                        <option selected="selected">Contributor</option>
                        <option>Challenger</option>
                        <option>Communicator</option>
                      </select>
                    </td>
                    <td>
                      <select id="style2" class="form-control">
                        <option>Collaborator</option>
                        <option>Contributor</option>
                        <option>Challenger</option>
                        <option>Communicator</option>
                      </select>
                    </td>
                  </tr>
                </table>
            </div>
            <!-- Bar Graph Legend -->
            <div class="barlegend ml-2 container">
              <!-- <%= select_tag 'current-datasets', options_for_select(@dataset_ids), {:multiple => true}%> -->
              <table style="table-layout: fixed;">
                <tr style="border-bottom: 1px solid">
                  <th>Datasets</th>
                </tr>
                <tbody style="display: block; width: 100%; height: 100px; overflow-y: scroll;">
                  <% @dataset_ids.each do |dataset| %>
                  <tr>
                    <td style="max-wdith: 50%; word-break:break-all;"><%= label_tag dataset %></td>
                    <td><%= check_box_tag 'datasets[]', dataset, false, {class: 'datasets'} %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <!-- Button to update data -->
            <div class="ml-4 mt-3">
              <button id="dataset-button" class="btn btn-primary">Go!</button>
            </div>

        </div>

    </div>

    <hr class="hline">

    <!-- Buttons for adding new data sets -->
    <div class="ml-2 row btn-group-vertical">
      <a href="/"><button type="submit" class="btn btn-primary mx-auto">Upload </button></a>
      <a href="/delete"><button type="submit" class="btn btn-warning mx-auto">Delete Data</button></a>
    </div>

</div>

<script src="https://d3js.org/d3-axis.v1.min.js"></script>
<%= javascript_include_tag "display" %>
<script type="text/javascript">
$(document).ready(function () {
    // Show relevant buttons and hide irrelevant graphs when page first loads
    $('.insights').show();
    $("#stats").hide();
    $(".scatterlegend").hide();

    // Draw the graphs
    drawBarGraph();
    drawScatterGraph();
    $("#scattergraph").hide();


    // These functions hide graphs when we select a different graph to view
  var curcookie = '<%=cookies[:hello]%>'
  $('.insights').show();
  if (curcookie==0){
    showstart();
  }
  else if(curcookie==1) {
    showbarbutton();
  }
  else if(curcookie==2) {
    showscatter();
  }
  else if(curcookie==3) {
    statbutton();
  }
    $("#barbutton").click(function () {
        showbarbutton();
        document.cookie = "hello = 1";
    });

    $("#scatterbutton").click(function () {
        showscatter();
        document.cookie = "hello = 2";
    });

    $("#statbutton").click(function () {
        statbutton();
        document.cookie = "hello = 3";
    });

    $("#dataset-button").click(function () {
      updateBarGraph()
      drawScatterGraph()
    })
});
</script>
