<!-- <div class="upload-form mt-3 mx-auto">
    <form action="/display" method="GET" class="mx-auto">
        <div class="form-group">
            <label>Upload data here:</label>
            <input type="file" class="form-control" placeholder="Choosefile" required>
        </div>
        <button type="submit" class="btn btn-primary mx-auto">Upload</button>
    </form>
</div> -->
<% if flash[:notice] == nil%>
  <%elsif flash[:notice].class == String%>
  <div class="alert alert-success">
    <strong>Success!</strong> <%=flash[:notice].html_safe%>.
  </div>
  <%else%>
  <div class="alert alert-danger">
    <%=puts "hello"%>
    <%=puts flash[:notice]%>
    <strong>Danger!</strong> <%=flash[:notice]["message"].html_safe%>.
  </div>
  <% end %>
<div>
  
<h4>Import that data!</h4>
  <%=form_tag import_uploads_path, multipart: true do %>
  <%= file_field_tag :file%>
  <%= submit_tag "Import CSV/JSON",{:class => 'btn btn-primary'} %>

  <% end %>
</div>
