<!DOCTYPE html>
<html>
  <head>
    <title>CScores</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>


    <!-- begin navbar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

      <!-- Navbar toggler for when page is small -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Site title -->
      <a class="navbar-brand ml-3" href="/">CScores</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">

          

          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to('Logout', destroy_user_session_path, {:class => "nav-link", :method => :delete}) %>  
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, {:class => "nav-link"} %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_url, {:class => "nav-link"} %>
            </li>
          <% end %>
          

          <!-- Drop Down -->

          <li class="insights nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Insights
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a id="barbutton" class="dropdown-item">Bar Graph</a>
              <a id="scatterbutton" class="dropdown-item">Scatter Plot</a>
              <a id="statbutton" class="dropdown-item">Stats</a>
            </div>
          </li>

          <!-- Link to Predictions Page -->
          <li class="insights nav-item">
              <%= link_to "Predict", predictions_index_path, {:class => "nav-link"} %>
          </li>

          <!-- Link to Insights -->
          <li class=" predictions nav-item">
              <%= link_to "Insights", display_path, {:class => "nav-link"} %>
          </li>

        </ul>
      </div>
    </nav>
    <!-- end navbar -->

    <!-- Page Content -->
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
